[2020-06-29 19:32] ronaldtse opened #1 "Create Ruby script that extracts all terms from iso-10303-stepmod into separate Metanorma document"
The goal is to automatically generate content for this document:
https://github.com/metanorma/iso-10303-2

The target files we want to generate are:

1. https://github.com/metanorma/iso-10303-2/blob/master/sources/sections/03-terms.adoc
2. https://github.com/metanorma/iso-10303-2/blob/master/sources/sections/99-bibliography.adoc

We have to extract the terms and definitions from the STEPmod reposi

[2020-06-29 19:32] ronaldtse commented on #1
`uniq -d` tells me that these are duplicates:

[code]

[2020-06-29 19:33] ronaldtse commented on #1
Oh, and this has to be a script that works on demand (not a one-time thing).

The duplicates are located at:

[code]

[2020-06-29 20:55] TRThurman opened #2 "ISO 10303 ARM,MIM,IR entity and type declarations are not included in proposed 10303-2 but should be"
ISO 10303 defines a number of engineering domain languages but often the terms in those languages are only formally defined in the EXPRESS source in the standard.
Creating ISO 10303-2 from only clause 3 of the standard satisfies the letter of the requirement denoted in the PWI for ISO 10303-2 as well as the report out from the October workshop but does not address the underlying issue that most of

[2020-06-29 23:12] ronaldtse commented on #2
@TRThurman do you have an example for the terms not available from Clause 3s?

Do you mean names like `aic_associative_draughting_elements`?

[2020-06-29 23:29] TRThurman commented on #2
Yes, exactly

[2020-06-30 00:23] ronaldtse commented on #2
Got it. There’s not even a definition of this inside the exp files.

Is it debatable whether these are actually “terms” that should appear in the OBP, or reference items only relevant to the EXPRESS code?

In any case it is useful to have a definition for each of these names — can we reuse the text from the <schema> description?

[2020-06-30 01:21] TRThurman commented on #2
The text from the description is what we should use to start with.
Reformatting to meet iso directives for terms will have to wait for later.

Sent from my iPhone

[2020-06-30 02:29] ronaldtse commented on #2
Where would the description for `aic_associative_draughting_elements` be found?

In its `description.xml`, there is only this snippet:

[code]

But it is clearly not suited as a "description" for this name?

[2020-06-30 02:55] TRThurman commented on #2
That is because it is a schema in which case the description of it is an html resource is in resource.xml.
I was thinking of entity function and rule. description and forgot about schemata but they are valid as well.

Sent from my iPhone

[2020-06-30 15:54] TRThurman commented on #2
"aic_associative_draughting_elements
an application interpreted construct for the description of structures to associate the annotation used in draughting with the geometric aspects of the shape where the annotation applies

[2020-07-01 16:27] ronaldtse opened #3 "Block content should not have preceding spaces"
In this snippet:

[code]

The preceding spaces must all be gone.

Originally from: https://github.com/metanorma/reverse_adoc/pull/47

[2020-07-01 16:30] ronaldtse opened #4 "`alt` terms lack newlines"
[code]

Lacks newlines.

Originally from: metanorma/reverse_adoc#47

[2020-07-01 16:31] ronaldtse opened #5 "Notes and Examples should not allow empty lines at block start/end"
e.g.

[code]

Originally from: metanorma/reverse_adoc#47

[2020-07-01 16:31] ronaldtse opened #6 "Some NOTE and Examples content not converted"
[code]

[code]

[2020-07-01 16:34] ronaldtse opened #7 "Convert `<clause_ref>` to `term:[...]`"
[code]

Should be
[code]

[2020-07-01 16:38] ronaldtse opened #8 "Some failure in parsing content in between examples"
[code]

Should have been:
[code]

[2020-07-01 16:41] ronaldtse opened #9 "<p> immediately after <term> is actually an `alt:[...]`"
Original:

[code]

Converted:

[code]

Should actually be:

[code]

[2020-07-01 16:43] ronaldtse opened #10 "Content in <term> contained within parentheses should be labeled as an acronym"
[code]

Should be:
[code]

[2020-07-01 16:44] ronaldtse opened #11 "Some broken <term> parsing"
[code]

[2020-07-01 16:46] ronaldtse commented on #9
Another example:

[code]

[2020-07-01 16:46] ronaldtse commented on #9
[code]

[2020-07-01 16:49] ronaldtse opened #12 "`<express_ref>` should be parsed and converted into plain text"
[code]

Extract the last part of the `<express_ref .... "schema.state_type"/>` into just `*state_type*`.

e.g. `<express_ref linkend="state:ir:state_type_schema.state_type"/>` => `*state_type*`.

[2020-07-01 16:50] ronaldtse commented on #4
[code]

[2020-07-01 16:51] ronaldtse opened #13 "99-bibliography.adoc contains many empty/broken bibliographic items"
[code]

Empty/broken entries like `* [[[ISO10303-,ISO 10303-]]]` should not appear.

[2020-07-01 16:53] ronaldtse commented on #13
From @w00lf

Which ones? They should be very rare.

[2020-07-01 16:56] ronaldtse opened #14 "Offer mechanism to "group" and "re-order" the terms"
e.g. a YAML map like:

[code]

And the output becomes:

[code]

[2020-07-02 03:52] ronaldtse opened #15 "Whitespaces inside <term> and <definition> should be normalized to single spaces, and convert `<i>` into `stem:[]`"
Whitespaces inside <term> and <definition> should be normalized to single spaces, leading and trailing whitespaces should be stripped.

From `data/resource_docs/geometric_and_topological_representation/resource.xml`:

[code]

The `<i>...</i>` value should be wrapped with `stem:[...]`.

This should be converted to:
[code]

[2020-07-02 08:15] w00lf commented on #13
There was an error in bibliographic generation, fixed it.

[2020-07-02 08:15] #13 closed

[2020-07-02 10:31] ronaldtse commented on #3
This is not yet fixed. The latest file contains:

[code]

[2020-07-02 10:33] ronaldtse commented on #5
Still not fixed in #16:

[code]

[2020-07-02 10:38] ronaldtse opened #17 "Semicolon in <term> means alternative term"
[code]

Is now parsed as:

[code]

but should be:

[code]

[2020-07-02 10:41] ronaldtse commented on #7
The conversion in #16 is not yet working:

[code]

Problems:
1. should be `term:[individual activity]`
2. need to NORMALIZE all whitespace inside the definition so that they become single spaces (and trim front/back)

[2020-07-02 10:45] ronaldtse opened #18 "Broken parsed term has definition mistaken as `alt:[...]`"
Originally:

[code]

Became:
[code]

You know something is not an "alt" if there is nothing else after.

Should have been:
[code]

[2020-07-03 00:21] ronaldtse opened #19 "[source] should be [.source]"
[code]

=>

[code]

[2020-07-03 01:11] ronaldtse opened #20 "List items must have a newline before the first item"
List items must have a newline before the first item:

This is broken:
[code]

This is correct:
[code]

[2020-07-03 01:12] ronaldtse commented on #20
Wrong:
[code]

Correct:
[code]

[2020-07-03 01:12] ronaldtse commented on #18
Still broken:

[code]

[2020-07-03 03:28] ronaldtse opened #21 "Bibliography items should provide full information"
<img width="938" alt="image" src="https://user-images.githubusercontent.com/11865/86422860-db06be00-bd10-11ea-9c2d-749d54286b4e.png">

These bibliography items are showing up as empty because the document identifier is wrong (i.e. "ISO/TS" instead of "ISO).

[2020-07-03 03:28] ronaldtse commented on #21
Fixed in 4b39e3c

[2020-07-03 03:28] #21 closed

[2020-07-03 03:28] #9 closed

[2020-07-03 03:28] #4 closed

[2020-07-03 03:29] ronaldtse commented on #5
Fixed.

[2020-07-03 03:29] #5 closed

[2020-07-03 03:29] ronaldtse commented on #3
Fixed.

[2020-07-03 03:29] #3 closed

[2020-07-03 03:29] ronaldtse commented on #6
Fixed, but #20 still occurs. Closing this.

[2020-07-03 03:29] #6 closed

[2020-07-03 03:30] ronaldtse commented on #7
Works, closed.

[2020-07-03 03:30] #7 closed

[2020-07-03 03:30] ronaldtse commented on #8
Fixed.

[2020-07-03 03:30] #8 closed

[2020-07-03 03:31] ronaldtse commented on #11
Fixed.

[2020-07-03 03:31] #11 closed

[2020-07-03 03:32] ronaldtse commented on #12
Fixed.

[2020-07-03 03:32] #12 closed

[2020-07-03 03:32] ronaldtse opened #22 "Broken definition parsing with fake math"
[code]

[2020-07-03 03:32] ronaldtse commented on #15
Fixed

[2020-07-03 03:32] #15 closed

[2020-07-03 03:32] ronaldtse commented on #19
Fixed in 4b39e3c

[2020-07-03 03:32] #19 closed

[2020-07-03 03:33] ronaldtse commented on #20
This may be a problem in ReverseAsciidoc

[2020-07-03 04:55] ronaldtse commented on #10
Only the parentheses at the end are acronyms. e.g. this is not an acronym: `=== bill-of-material (BOM) data structure`.

[2020-07-03 10:29] ronaldtse opened #23 "Error in finding `term:[...]`"
[code]

[2020-07-03 10:30] ronaldtse commented on #23
This is a broken output:
[code]

Source:
[code]

[2020-07-03 10:32] ronaldtse commented on #23
And actually `product_as_individual:3_definition` means the Clause 3 of the document `product_as_individual` (`data/modules/product_as_individual/module.xml`). Huh.

[2020-07-03 10:33] ronaldtse commented on #23
We should just point it to refer to `term:[individual product,individual products]`.

[2020-07-03 10:46] ronaldtse commented on #23
In this case when we see this:

[code]

We take the text value of the element and convert to this:

[code]

Maybe in the future we can consider how to automatically link `term:[individual products]` to `term:[individual product]`.

[2020-07-03 15:25] ronaldtse commented on #20
Fixed.

[2020-07-03 15:25] #20 closed

[2020-07-03 15:25] ronaldtse commented on #18
Fixed.

[2020-07-03 15:25] #18 closed

[2020-07-03 15:26] ronaldtse commented on #17
Fixed.

[2020-07-03 15:26] #17 closed

[2020-07-03 15:34] ronaldtse opened #25 "Bold/italics asciidoc symbols within word should not be escaped"
<img width="851" alt="Screen Shot 2020-07-03 at 11 30 00 PM" src="https://user-images.githubusercontent.com/11865/86482732-1d69e280-bd85-11ea-993c-c24da76b9783.png">

From:
[code]

In AsciiDoc, only when the bold/italic symbol is at a word boundary it is considered a bold/italic symbol (`this is _bold_`). When it is located within a word, you need to "double it" (`this is not_bold, but this is__ve

[2020-07-03 16:39] ronaldtse commented on #22
Fixed.

[2020-07-03 16:39] #22 closed

[2020-07-03 16:39] ronaldtse commented on #1
Integrated, closing.

[2020-07-03 16:39] #1 closed

[2020-07-03 23:55] ronaldtse commented on #2
@TRThurman the closest thing I can find for a description of this schema is:

data/resource_docs/associative_draughting_elements/resource.xml
[code]

This goes back to Annotated EXPRESS -- once we can parse Annotated EXPRESS and have this "schema introduction" moved in there, we could link `aic_associative_draughting_elements` to this introduction as a basis for its definition.

[2020-07-04 00:41] TRThurman commented on #2
Sent from my iPhone

Yes that is correct reference.

I agree

[2020-07-04 16:19] TRThurman opened #26 "hard-coded data directory in stepmod-extract-terms utility"
The stepmod-extract-terms utility assumes a hard-coded directory name in the path to the 'data' directory:
In practice the directory name above data is always 'stepmod' and then whatever local name the user picks.

[code]

Correct behaviour is to use the current directory or an explicitly provided path based on usual unix syntax.

[2020-07-05 09:04] ronaldtse opened #27 "Remove debugging path mistakenly set"
https://github.com/metanorma/stepmod-utils/blob/8a20d390844337ba3c3182b6100a5e6177c324a0/exe/stepmod-extract-terms#L32

Resolves #26

[2020-07-05 09:29] #2 closed

[2020-07-05 09:34] #26 closed

[2020-07-05 09:34] #27 closed

[2020-07-05 09:37] ronaldtse commented on #14
Ping @skalee we may not need it immediately but the a Ruby concept/term gem can already be useful here. All these terms adhere to the same structure we have in Geolexica/Glossarist. If we have that gem it is easy to re-order them.

[2020-07-05 09:38] ronaldtse commented on #26
@TRThurman sorry I forgot to remove the debugging path -- it should now work as expected!

[2020-07-06 04:37] skalee commented on #14
If it is just about rendering AsciiDoc from some YAML data, then I'd simply go with Liquid or ERB…

[2020-07-06 04:57] ronaldtse commented on #14
And we'll need a gem to store and create/read that YAML data.

[2020-07-06 11:08] ronaldtse opened #28 "Move reverse_adoc EXPRESS features to this gem"
We will use this gem for all misc EXPRESS features, including the conversion of STEPmod descriptions.xml into Metanorma.

The functionality is currently implemented in https://github.com/metanorma/reverse_adoc, we have to move it here.

[2020-07-06 17:08] ronaldtse opened #29 "Skip non IS, DIS TS documents when extracting terms"
We want to filter out the unpublished terms. DIS is still acceptable, but not the rest.

[2020-07-06 17:09] #29 closed

[2020-07-06 17:10] ronaldtse commented on #29
Released in version 0.1.7.

[2020-07-07 06:22] ronaldtse opened #30 "Provide source XML location as comment next to term"
There are a number of terms/definitions that need fixing due to misspellings and typos, and we need to fix them not only in ISO 10303-2 but also in the source STEPmod repository. In order to make those fixes in the source repo we want to know the location of the file to make the changes.

e.g.
[code]

[2020-07-07 13:07] TRThurman commented on #30
We also need to record the rcs revision number
cvs status

should be

"Up-to-date"

And record the value of

"Working revision"

Thomas Thurman
Principal Electrical Engineer, Rockwell Collins (Retired)

Confidentiality Notice: This e-mail (including attachments) is covered by the Electronic Communications Privacy Act, 18 U.S.C. 2510-2521, is confidential and may be legally privileged.  If you are

[2020-07-07 16:43] #30 closed

[2020-07-07 16:53] TRThurman commented on #30
Please explain how cvs command gets called to provide the requested cvs status data.
e.g., how to get this result:
# From: data/modules/assembly_feature_definition/module.xml v 1.3

[2020-07-08 04:21] ronaldtse commented on #30
@TRThurman I'm doing this from our Git copy of the CVS repo. Will update it to use the CVS repo and provide that information.

[2020-07-08 04:31] ronaldtse opened #31 "Provide CVS revision number in term definition as comment"
We also need to record the rcs revision number
`cvs status`

should be

"Up-to-date"

And record the value of

"Working revision"

_Originally posted by @TRThurman in https://github.com/metanorma/stepmod-utils/issues/30#issuecomment-654844413_

[2020-07-08 04:32] #31 closed

[2020-07-08 04:32] ronaldtse commented on #30
@TRThurman this is now implemented in #31.

[2020-07-08 04:38] ronaldtse commented on #31
Released in 0.2.0.

[2020-07-10 02:55] ronaldtse opened #32 "Empty entry should not be extracted"
This is a broken element in data/modules/mechanical_design/module.xml , it should not have been extracted.

[code]

[2020-07-10 02:55] ronaldtse commented on #32
It is now extracted as:

[code]

[2020-09-11 08:51] ronaldtse commented on #28
We also need to parse things in `resource.xml` files:

[code]

This is to be converted into:
[code]

[2020-09-11 13:31] TRThurman commented on #28
A good test case for this is found in representation_schema in ISO 10303-43 on STEPmod.

Thomas Thurman
Principal Electrical Engineer, Rockwell Collins (Retired)

Confidentiality Notice: This e-mail (including attachments) is covered by the Electronic Communications Privacy Act, 18 U.S.C. 2510-2521, is confidential and may be legally privileged.  If you are not the intended recipient, you are here

[2021-01-29 10:14] opoudjis opened #36 "Update all instances of express_ref:[]"
Follow on from https://github.com/metanorma/metanorma/issues/122

Currently `express_ref:[A]` is used to generate cross-references between documents. We no longer use `express_ref:[]`, and all instances of it need to be updated to the new indirect cross-reference format implemented there.

Each cross reference passed to express_ref is of form `schema ("." (prefix ".")* label)?`, where each of sche

[2021-01-29 10:36] opoudjis opened #37 "Do not escape underscores"
Currently annotated Express files are generating output like:

`The assignment of an identifier corresponds to the *id\_attribute* entity data type.`

This is incorrect Asciidoctor: it actually renders as *id\\_attribute*. The Asciidoctor rules around markup are documented in  https://docs.asciidoctor.org/asciidoc/latest/text/#unconstrained and https://docs.asciidoctor.org/asciidoc/latest/text/tro

[2021-01-29 10:39] opoudjis commented on #37
It is possible that this is a bug in ReverseAsciidoctor, where this code originates from. If so, this bug fix needs to be applied back to ReverseAsciidoctor.

[2021-01-29 13:03] opoudjis opened #38 "Generate SVG files"
The ISO-10303 Stepmod repository, when it is converted to asciidoc-oriented express files via this code, includes Express XML image maps, which appear to be ported from the original. I don't understand how, and I don't really want to. :-)

So in https://github.com/metanorma/iso-10303-stepmod/tree/master/data/resources/basic_attribute_schema,

we have https://github.com/metanorma/iso-10303-stepmod/

[2021-01-29 13:29] opoudjis opened #40 "Put SVG references in annotations"
Express schema descriptions include image maps, in an idiosyncratic Express XML format, based on HTML image maps. Right now they are being output in the conversion code in this repository, as `expg_image` macros. So

https://github.com/metanorma/iso-10303-stepmod/blob/master/data/resources/basic_attribute_schema/basic_attribute_schema_annotated.exp

[code]

In https://github.com/metanorma/stepmod-

[2021-01-29 22:36] Intelligent2013 commented on #38
- `transform="matrix(1 0 0 1 114 263.8898)"` moves  the object by 114 and 263.8898. I don't see a reason to do it, so I've remove it. (about tranformation matrix https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/transform)

- `class="st0"` is a reference to `.st0{fill:none;stroke:#000000;stroke-miterlimit:10;}`

- style changed to `.st0{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;opa

[2021-01-30 01:58] opoudjis commented on #38
Thank you! So you had no problem with finding the image size?

[2021-01-30 08:24] Intelligent2013 commented on #38
There arent't problem. It's a just java function call.
Except GIFs, there are JPG and PNG images.

[2021-01-30 09:30] ronaldtse commented on #38
Looks great. Just a reminder that the iso-10303-stepmod repository is a transitory artifact. It is not meant to be persistent. We will need scripts to create it via iso-10303-cvs.

[2021-02-01 10:39] opoudjis commented on #38
Looks fine, thank you!

[2021-02-01 10:40] opoudjis commented on #38
@ronaldtse Who creates those scripts and where? Is that a distinct ticket?

[2021-02-02 00:43] opoudjis commented on #36
@w00lf please correct `<<express_ref:` to `<<express:`; that is the expectation behind stepmod2mn counterpart (https://github.com/metanorma/stepmod2mn/issues/2)

[2021-02-02 07:38] w00lf commented on #36
Done, pushed to master

[2021-02-03 08:41] #36 closed

[2021-02-04 05:39] ronaldtse commented on #28
Done. Closing.

[2021-02-04 05:39] #28 closed

[2021-02-04 06:02] ronaldtse commented on #23
Fixed, closing.

[2021-02-04 06:02] #23 closed

[2021-02-04 07:07] ronaldtse commented on #40
All SVGs have already been generated in metanorma/stepmod2mn#8 for iso-10303-stepmod.

In particular, this is what needs to be done:

1. Change
https://github.com/metanorma/stepmod-utils/blob/b20b7ec042b4882e068a5736a487d4891a1a3538/lib/stepmod/utils/converters/express_g.rb#L7-L14

Example below.

This file:
`data/resource_docs/fundamentals_of_product_description_and_support/resource.xml`

Contain

[2021-02-04 07:39] ronaldtse opened #41 "Support <schema_diag> tag"
We need to convert this also. From metanorma/iso-10303-stepmod#6 .

Missing rendering of `<schema_diag>` image:

[2021-02-04 07:42] ronaldtse commented on #41
From iso-10303-stepmod I was only able to find this relevant snippet:

[code]

I think we just treat it as a normal `svgmap`.

[2021-02-04 10:17] #37 closed

[2021-02-08 22:58] opoudjis opened #44 "Switch from using reverse_adoc-based converter in scripts to stepmod2mn"

[2021-02-09 10:10] #40 closed

[2021-02-12 16:28] ronaldtse commented on #41
Implemented by @w00lf. Thanks!

[2021-02-18 12:25] w00lf commented on #44
@opoudjis can we close this one?

[2021-02-18 14:32] ronaldtse opened #46 "Handle `<eqn>` elements"
From https://github.com/metanorma/iso-10303-stepmod/pull/15#discussion_r578455102

[code]

[2021-02-18 14:33] ronaldtse opened #47 "Simplified <<express>> references"
We're changing from:
[code]

to
[code]

Right?

Ping @opoudjis @w00lf

[2021-02-19 06:05] ronaldtse opened #48 "Need to handle `<dl>`"
Need to handle `<dl>`

https://github.com/metanorma/iso-10303-stepmod/pull/15#discussion_r578458984

[2021-02-19 06:07] ronaldtse opened #49 "Properly generate Adoc lists"
Adoc lists are not properly generated now.

An adoc list requires:
* a blank line before the first list item
* a blank line after the last list item.

Related issues:
* https://github.com/metanorma/iso-10303-stepmod/pull/15#discussion_r578458779
* https://github.com/metanorma/iso-10303-stepmod/pull/15#discussion_r578459933

[2021-02-19 06:08] ronaldtse opened #50 "Support `<table>` elements"
https://github.com/metanorma/iso-10303-stepmod/pull/15#discussion_r578463648

[2021-02-19 06:11] ronaldtse opened #51 "Convert XML comments to ADoc comments"
https://github.com/metanorma/iso-10303-stepmod/pull/15#discussion_r578463153

[code]

To:
[code]

[2021-02-19 06:16] ronaldtse commented on #44
Closing, the intent for both are different.

[2021-02-19 06:16] #44 closed

[2021-02-19 14:29] ronaldtse commented on #46
This element needs to be converted into a stem block:

[code]

And the inside needs to be parsed by this method:
https://github.com/glossarist/iev-data/blob/45c45971902d88aaddc1e602e94f5de9173fae60/lib/iev/termbase/term_builder.rb#L184

@w00lf can you copy out this method (and related methods) to this gem for this purpose?

Thanks!

[2021-02-19 14:30] ronaldtse commented on #47
@w00lf the original reference:

<<express:managed_model_based_3d_engineering_bom:managed_model_based_3d_engineering_bom.PercentagePly.volumePercent,volumePercent>>

Is too long. We would like to use the new shorter syntax that you implemented, such as <<express: managed_model_based_3d_engineering_bom.PercentagePly.volumePercent>> .

Right?

[2021-02-19 14:36] w00lf commented on #46
Sure, will do, thanks!

[2021-02-20 00:18] ronaldtse commented on #48
`<dl>` lists are like this:

[code]
are represented in adoc as:

[code]

------
NOTE: there is one instance in STEPmod that are broken:

[code]
(this will be fixed here: http://bz.pdes-ch.org/show_bug.cgi?id=8557)
------

[2021-02-20 00:20] ronaldtse commented on #49
When converting a list, the following output is invalid:

[code]

It has to be:

[code]

Right now the conversion results in the first kind.

[2021-02-20 00:23] ronaldtse commented on #50
As you can see in the linked comment, the `<table>` element is not parsed in the conversion.

[code]

In AsciiDoc the table is represented:
[code]

[2021-02-20 02:11] ronaldtse commented on #46
Thanks @w00lf !

[2021-02-20 15:42] TRThurman commented on #48
Assigning bugs to Keith Hunten causes no action to occur.

Hiroyuki,
Could you take this bug and work with your team to correct the errors?
thanks,

Thomas Thurman
Principal Electrical Engineer, Rockwell Collins (Retired)

Confidentiality Notice: This e-mail (including attachments) is covered by the Electronic Communications Privacy Act, 18 U.S.C. 2510-2521, is confidential and may be legally priv

[2021-02-20 17:17] TRThurman commented on #48
Dear Tom,

OK. We will take the bug.
Best regards,

Hiroyuki Hiraoka
Chuo University
1-13-27 Kasuga, Bunkyo-Ku, Tokyo
Japan
tel: +81-3-3817-1841 fax: +81-3-3817-1820
e-mail: hiraoka@mech.chuo-u.ac.jp

[2021-02-21 01:46] ronaldtse commented on #48
Thank you @TRThurman !

[2021-02-21 08:16] w00lf commented on #46
@ronaldtse quick question. I have implemented eqn tag handle as you described, but I am not sure that I am 100% correct. Currently, I handle all nested tags in eqn with reverse_adoc and then prase the result with the code snippet from iev-data, is it correct or do I need to parse tag content with iev-data snippet without nested tags handle by revere_adoc?

[2021-02-21 11:00] w00lf commented on #48
In the iso-10303-stepmod in `data/modules/annotated_3d_model_equivalence_assembly/arm_descriptions.xml` there is such dl example:

[code]

How it should be rendered? Disregarding `&#160; : &#160;` symbols, how should blank `dt` elements be rendered?

[2021-02-21 11:28] w00lf commented on #51
This is already supported: https://github.com/metanorma/iso-10303-stepmod/pull/15#discussion_r579792152

[2021-02-21 11:37] ronaldtse commented on #51
Nice stuff. Thanks!

[2021-02-21 11:37] #51 closed

[2021-02-21 18:18] ronaldtse commented on #48
From @w00lf :

There should not be blank `<dt>` elements. If there are, try `{blank}:: foo bar`. `{blank}` is a special character that occupies no text.

[2021-02-21 18:25] w00lf commented on #48
Thanks, added a fallback for that case.

[2021-02-22 02:54] opoudjis commented on #47
Yes, we are using this, and @Intelligent2013 has implemented it too. I thought I had requested it of @w00lf and tandem, but yes, it is needed.

[2021-02-22 02:56] #47 closed

[2021-02-23 08:12] ronaldtse commented on #46
For `<eqn>` elements there are still some issues:

original:
[code]

becomes this, which is wrong:
[code]

`<sup>3</sup>` means subscript 3, so `(1 - u -v)<sup>3</sup>` should be `(1 - u -v)^{3}`.

Also, `<b>P<sub>4</sub></b>` should be `P_{4}`.

[2021-02-23 08:26] ronaldtse commented on #48
@w00lf the current definition list mechanism in metanorma/iso-10303-stepmod#17 is wrong:

Original:
data/modules/annotated_3d_model_equivalence_shape/arm_descriptions.xml:
[code]

Now:
data/modules/annotated_3d_model_equivalence_shape/arm_annotated.exp
[code]

There are 2 issues:
1. a "definition list" MUST start on a separate line, and must be preceded by an empty line. As you can see above, "fol

[2021-02-23 08:29] ronaldtse commented on #49
Confirmed that both instances are fixed. Thanks @w00lf !

[2021-02-23 08:29] #49 closed

[2021-02-23 08:33] ronaldtse commented on #50
Looks good -- just one last issue:

### Missing table caption (when provided)

Original:
modules/layered_interconnect_module_design/arm_descriptions.xml
[code]

Converted:
[code]

[2021-02-25 03:50] ronaldtse commented on #41
@w00lf in the latest version we're still seeing this. Can you have a look?

<img width="851" alt="Screenshot 2021-02-25 at 11 50 29 AM" src="https://user-images.githubusercontent.com/11865/109100358-a9d77400-775f-11eb-999c-050a3af09bcb.png">

[2021-02-25 11:44] ronaldtse opened #60 "Auto-release of gem"
From @CAMOBAP :

Yes I think it's good.

Originally from https://github.com/metanorma/iso-10303-stepmod/issues/8#issuecomment-785821797

[2021-02-25 13:08] CAMOBAP commented on #60
@ronaldtse is there a condition when we can do autorelease?

At the moment 2 cases covered:
1. after push the version tag to the repo, gem will be pushed to rubygems automatically
2. you can do release with "Run workflow" button on https://github.com/metanorma/stepmod-utils/actions/workflows/release.yml, where you can specify the next version, or strategy how version should be incremented

[2021-02-25 17:04] #48 closed

[2021-02-25 17:04] #50 closed

[2021-02-25 17:18] ronaldtse opened #61 "Mechanism to convert {bibliography,normrefs}.xml to Relaton collection"
These two files are part of STEPmod and contain a large collection of bibliographic items.

We need to have a method that converts these into a "loadable" Relaton collection. This is to be implemented in this gem.

[normrefs.xml.zip](https://github.com/metanorma/stepmod-utils/files/6044702/normrefs.xml.zip)
[bibliography.xml.zip](https://github.com/metanorma/stepmod-utils/files/6044700/bibliograph

[2021-02-25 17:42] ronaldtse commented on #60
This is good, right?

[2021-02-25 17:49] CAMOBAP commented on #60
@ronaldtse I think so, but sometimes is also good to be able to push gem just with UI, like this:

<img width="1446" alt="Screen Shot 2021-02-25 at 8 43 42 PM" src="https://user-images.githubusercontent.com/2169738/109194252-4aeb1c80-77aa-11eb-8b1f-e34cf7161921.png">

So I propose to keep both)

[2021-02-25 17:49] #60 closed

[2021-02-25 17:52] ronaldtse commented on #60
Agree, thanks!

[2021-02-26 08:56] w00lf commented on #41
As it turns out this diagram was manually put into the adoc file.

[2021-02-26 09:07] ronaldtse commented on #41
Yes this is now fixed in the latest generated version (directly using image::, not svg)

[2021-02-26 09:07] #41 closed

[2021-02-28 12:30] zakjan opened #62 "Handle *) in embedded remark content"
In the latest iso-10303-stepmod master, these files contain `*)` sequence, causing Expressir parser to throw a parse error.

data/modules/generic_expression/arm_annotated.exp - line 290
data/modules/layered_interconnect_module_design/arm_annotated.exp - line 1566
data/resources/geometry_schema/geometry_schema_annotated.exp - line 5308
data/resources/product_data_quality_criteria_schema/product_dat

[2021-03-01 03:05] ronaldtse commented on #62
@zakjan Just looking at the grammar, does this mean that EXPRESS syntax does not even allow non-ASCII symbols, e.g. unicode, in the remarks?

[2021-03-01 03:22] ronaldtse commented on #62
Using AsciiDoc syntax we can do this:
[code]

[2021-03-01 06:05] zakjan commented on #62
Good catch, there are no UTF-8 chars or spaces in the spec. They are supported in Expressir because I simplified these rules to "anything except `*)`" (or "anything except `\n`" for tail remarks) already from the first implementation. https://github.com/lutaml/express-grammar/blob/master/Express.g4#L1129-L1137

I referred to the spec to show that there is no official escape sequence. Anything that

[2021-03-01 06:32] ronaldtse commented on #62
@zakjan thanks for the confirmation. This also means that diacritics are also disallowed. Let me file a separate issue in Expressir describing this problem to see advice from ISO/TC 184/SC 4/WG 12.

[2021-03-01 06:39] ronaldtse commented on #62
Let's address the current issue by making this modification:

If a bolded statement (`<b>`):
* starts immediately after a `(` character, or
* ends immediately before a `)` character

We insert the `{blank}` between them in converting.

Does this sound reasonable @zakjan @w00lf ? (This also needs to be addressed by @Intelligent2013 )

[2021-03-01 07:18] zakjan commented on #62
Yes.

[2021-03-01 12:10] w00lf commented on #62
Created hotfix PR - #63

[2021-03-02 05:23] ronaldtse commented on #62
The PR from @w00lf works. Closing.

[2021-03-02 05:23] #62 closed

[2021-03-02 06:30] #46 closed

[2021-03-08 09:29] ronaldtse opened #65 "Schema descriptions (clause 4+) start with "General", then "Fundamental concepts and assumptions""
From https://github.com/metanorma/annotated-express/issues/34

Schema descriptions (clause 4+) start with "General", then "Fundamental concepts and assumptions"

[2021-03-08 09:31] ronaldtse commented on #65
See metanorma/annotated-express@495facd1a54549d864fc515c46c199878824fba6 for demonstration of this change.

[2021-03-08 09:33] ronaldtse commented on #65
Point is just rename these:
"Introduction" => "General"
"Fundamental concerns" => "Fundamental concepts and assumptions"

[2021-03-08 09:35] ronaldtse opened #66 "Move all EXPRESS-G diagrams (`[.svgmap]`) to Annex D and use anchors to reference them from annotated EXPRESS files"
From https://github.com/metanorma/annotated-express/issues/35

Here's the sample commit that works:
https://github.com/metanorma/annotated-express/commit/db253f25488a162f4a2267f9312c62ebaeedf70d

[2021-03-10 05:16] ronaldtse commented on #65
Confirmed, thanks.

[2021-03-10 05:16] #65 closed

[2021-04-06 17:48] ronaldtse opened #69 "(URGENT) In annotated EXPRESS schemas, general, fund_cons and express-g blocks should all be separately tagged"
We need to adopt the new structure described in metanorma/annotated-express#38. This is urgent because of the workflow we have now where @opoudjis imports content from iso-10303-stepmod into this repository.

See metanorma/annotated-express@acfee797e525465532cc10008503314c925f5b11 for the changes needed.

1.
[code]

2.
[code]

3.
[code]

[code]

[2021-04-06 18:00] ronaldtse commented on #69
This is the specification: https://github.com/metanorma/annotated-express/issues/38#issuecomment-803263905

[2021-04-07 03:01] ronaldtse commented on #69
Fixed in #70.

[2021-04-07 03:01] #69 closed

[2021-04-07 03:06] ronaldtse opened #71 "Strip trailing whitespaces in EXPRESS code, always add newline before `*)`"
1. In metanorma/annotated-express@e6a1ea2, there are many changes about added whitespaces, e.g.

https://github.com/metanorma/annotated-express/commit/e6a1ea272ed8939d4b971130d9cb1e88fd10a053#diff-db3d5e17d41633f9362368be65607af36aff8450bfb11992fa77c844c7a256a7R8-R21

When we add annotations to EXPRESS code, we want to also strip out all whitespaces.

2. Sometimes there is no newline before the en

[2021-04-16 10:28] ronaldtse opened #72 "`stepmod-extract-terms` command generating non-unique bibliographic references"
In 991-generated-bibliography.adoc, `ISO-TS_10303-1015_2004` is duplicated (and many others).

I had to fix it like this in the iso-10303-2 document:
https://github.com/metanorma/iso-10303-2/commit/91b152a08cab0ac0851847d2365f23e16035e539

[code]

[code]

[2021-04-27 15:48] ronaldtse commented on #14
@skalee we need a Ruby gem to deal with the https://github.com/glossarist/concept-model model.

@opoudjis will soon implement support for this model in Metanorma, it's much better for him to directly use this work.

[2021-04-27 15:50] ronaldtse commented on #14
@w00lf we need to update this gem to achieve this list in data extraction:

https://github.com/metanorma/iso-10303-2/issues/10#issuecomment-827691615

This list provides the clause titles for the terms defined in those parts, e.g.:

[code]

[2021-04-29 07:47] w00lf commented on #25
@ronaldtse this issue happens because of this code in reverse_adoc - https://github.com/metanorma/reverse_adoc/blob/master/lib/reverse_adoc/converters/base.rb#L15, can you move the issue to there? In the case of `*` symbol inside word boundary should we also duplicate it the same way you described in this?

[2021-04-29 09:08] ronaldtse commented on #25
@w00lf actually this is a tricky question -- AsciiDoc does not have a defined way of escaping backslashes. The `*` symbol is similar...

I will open this issue in reverse_adoc but keep this here so that we know the problem occurs here.

[2021-04-29 09:14] ronaldtse commented on #72
How I run this:

1. Go to https://github.com/metanorma/iso-10303-stepmod
2. Run `stepmod-extract-terms .`

[2021-04-29 09:15] ronaldtse commented on #72
In this command, the terms also need to be sorted alphabetically.

Probably can be done together with https://github.com/metanorma/stepmod-utils/issues/14

[2021-05-03 12:27] ronaldtse commented on #71
Closed with #73.

[2021-05-03 12:27] #71 closed

[2021-05-04 16:32] ronaldtse commented on #14
Please follow the domains here: https://github.com/metanorma/iso-10303-2/issues/10#issuecomment-827691615

[2021-05-05 00:03] ronaldtse opened #75 "Warn on empty term, do not process those"
From https://github.com/metanorma/iso-10303-2/issues/30 there is an empty term entered:

[code]

stepmod-extract-terms should issue a warning to the user and ignore empty terms.

_Originally posted by @manuel489 in https://github.com/metanorma/iso-10303-2/issues/27#issuecomment-832312435_

[2021-05-05 02:05] TRThurman commented on #75
I agree that is a sensible solution.

[2021-05-05 03:41] ronaldtse commented on #75
Thanks @TRThurman !

[2021-05-05 03:45] ronaldtse commented on #72
This is probably fixed in 08f9d0ee0354c3a17605e683c5ebf36eabb4e115, I can't reproduce it anymore. Thanks @w00lf !

[2021-05-05 03:45] #72 closed

[2021-05-05 06:06] ronaldtse opened #76 "Grouping of terms into domains according to iso-10303-2#10"
As title, from https://github.com/metanorma/iso-10303-2/issues/10#issuecomment-827691615

We use the following groupings for terms from these STEPmod parts: (@w00lf to be implemented in stepmod-utils)

* part 42 "Geometric and topological representation"
* part 43 "Foundation representation"
* part 44 "Product structure, concept and configuration"
* part 46 "Visual presentation"
* part 47 "Shape t

[2021-05-05 06:07] #76 closed

[2021-05-07 06:22] ronaldtse commented on #32
Don't see this anymore, closing for now.

[2021-05-07 06:22] #32 closed

[2021-05-07 06:23] ronaldtse commented on #14
This task can be done post-CD stage (way after 2021-05-21).

[2021-05-14 05:33] ronaldtse opened #78 "stepmod-extract-terms should not export empty entries"
This is poorly tested.

This is correct:
[code]

From this XML:

[code]

But this is not:

[code]

The reason is this:

[code]

[2021-05-14 06:39] ronaldtse commented on #78
Fixed in 396d46c3fcef8526a50ddc03e36f286f141f3ffa

[2021-05-14 06:39] #78 closed

[2021-05-14 06:45] ronaldtse commented on #75
This is fixed in 396d46c3fcef8526a50ddc03e36f286f141f3ffa.

[2021-05-14 06:45] #75 closed

[2021-05-17 01:28] ronaldtse opened #79 "Do not include notes and examples in STEPmod entities"
https://github.com/metanorma/iso-10303-2/issues/41

We only want the text.

[2021-05-17 01:31] ronaldtse opened #80 "Split STEPmod modules entities into separate files per part"

[2021-05-17 01:35] #79 closed

[2021-05-17 01:35] #80 closed

[2021-05-17 04:49] ronaldtse opened #81 "Only parse every schema at most once, some documents link to the same schema"
e.g. mechanical_design_*

[2021-05-17 04:49] ronaldtse commented on #81
Fixed in 04bce0c2e4defcb483ab8f8b8c535a052720c38d

[2021-05-17 04:50] ronaldtse opened #82 "Use repository_index.xml to parse for stepmod-extract-terms"

[2021-05-17 04:50] ronaldtse commented on #82
Done in 669d045d9dc22188b6155ce390fe3d0b08d2bbf6

[2021-05-17 04:50] ronaldtse opened #83 "Skip figures in stepmod-extract-terms"

[2021-05-17 04:50] ronaldtse commented on #83
Done in 3efa4f38f410e2100c8a1f332868c4d6bb49badf

[2021-05-17 04:50] #83 closed

[2021-05-17 04:50] ronaldtse opened #84 "Take only the first paragraph in stepmod-extract-terms from STEPmod resources/modules entities"

[2021-05-17 04:51] ronaldtse commented on #84
Done in 9c1e204f56f4ec1fefb83509538d3128ac6284d2. This is not pretty.

[2021-05-17 04:51] #84 closed

[2021-05-17 04:51] #82 closed

[2021-05-17 04:51] #81 closed

[2021-05-17 05:28] ronaldtse opened #86 "Concept object should have "designation" filled in with the "term", right now the term is handled inside the definition"
Concept object should have "designation" filled in with the "term", right now the term is handled inside the definition.

Without the "designation" field filled here we cannot sort the concepts.

This is where it should live:
https://github.com/metanorma/stepmod-utils/blob/b498d74ecf641b773030edbdd0d2c4c78ab97e6b/lib/stepmod/utils/concept.rb#L6

But this code doesn't use it:
https://github.com/met

[2021-05-21 10:51] w00lf opened #87 "cannot load such file -- win32/file - windows GA"
Failing specs with this error, example - https://github.com/metanorma/stepmod-utils/pull/85/checks?check_run_id=2638563362. @CAMOBAP can you help here?

[2021-05-21 10:52] w00lf commented on #87
https://github.com/metanorma/stepmod-utils/pull/85

[2021-05-22 07:53] CAMOBAP commented on #87
reported https://github.com/djberg96/ptools/issues/42

PR: https://github.com/metanorma/stepmod-utils/pull/88 - temporal workaround

[2021-05-25 12:19] w00lf commented on #87
Thx, @CAMOBAP

[2021-05-25 12:21] ronaldtse commented on #87
@CAMOBAP @w00lf In order to merge it I've refactored the bit so that the `File.which` call doesn't get executed in specs (if the directory is not a CVS repo). I will also merge #88. Thanks!

[2021-05-25 12:21] CAMOBAP commented on #87
@w00lf @ronaldtse BTW https://rubygems.org/gems/ptools/versions/1.4.2-universal-mingw32 so we can revert the original change

[2021-05-25 17:33] #87 closed

[2021-05-26 05:06] ronaldtse commented on #87
@CAMOBAP your 3d72d26 somehow got rid the whole line, we needed to keep the ptools line, so it's returned in 2e871bb. So this is all done. Thanks!

[2021-05-26 05:11] ronaldtse commented on #86
@w00lf the key here is when we parse a concept, we need to have:

[code]

Step 1 =>
[code]

Step 2 =>
[code]

1. Right now in Step 1 it treats the "designation/term" as part of the definition, which is wrong.
2. With Step 1 correct, we can perform sorting of the concepts using their designations.

[2021-05-26 05:59] CAMOBAP commented on #87
@ronaldtse AFAIR we have it as transitive dependency, isn't it?

[2021-05-26 06:00] ronaldtse commented on #87
@CAMOBAP no, it's used here:
https://github.com/metanorma/stepmod-utils/blob/3001849651ea07e7950495d87998420ca353be09/lib/stepmod/utils/terms_extractor.rb#L60

[2021-05-26 15:17] CAMOBAP commented on #87
@ronaldtse my bad, thanks for making attention to this
I just reverted my original commit and looks like  there was no dependence on 'ptools' before

[2021-06-03 05:07] ronaldtse opened #90 "Move terms/definitions processing to new Glossarist gem"
Thanks to @skalee we are standardising all concept handling in the newly released Glossarist gem.

This issue is to perform the refactor in stepmod-utils to utilize the glossarist gem, just like how it was done in the IEC iev-data gem:
https://github.com/glossarist/iev-data/pull/189

[2021-06-03 05:07] ronaldtse commented on #90
This task is related to, but not dependent on, or is a dependency of #86

[2021-06-04 14:07] w00lf commented on #86
@ronaldtse created a PR for this one - #91. There is a problem with additional tags used inside the definition, for example:

![image](https://user-images.githubusercontent.com/1158036/120814068-2b0c8700-c557-11eb-84c3-7c1777ca337e.png)

Here `parametric volume` definition uses stem tag inside his `def` tag body, with the new logic it will just disappear, is it ok?

[2021-06-04 14:14] TRThurman commented on #86
Not ok.

Thomas Thurman
Principal Electrical Engineer, Rockwell Collins (Retired)

Confidentiality Notice: This e-mail (including attachments) is covered by the Electronic Communications Privacy Act, 18 U.S.C. 2510-2521, is confidential and may be legally privileged.  If you are not the intended recipient, you are hereby notified that any retention, dissemination, distribution, or copying of this

[2021-06-04 15:28] ronaldtse commented on #86
@w00lf as mentioned by @TRThurman we do have to handle the `stem` tag content. Thanks.

[2021-06-08 11:24] w00lf commented on #86
@ronaldtse @TRThurman implemented support for nested blocks inside definiton - https://github.com/metanorma/stepmod-utils/pull/92

[2021-06-08 11:48] TRThurman commented on #86
Glad to hear!

[2021-06-09 06:47] ronaldtse opened #93 "Bolded terms next to each other loses whitespace in between"
e.g.:
[code]

Notice that `*outside_profile*` and `*feature_definition*` should have a space in between.

[2021-06-16 11:33] ronaldtse commented on #93
@w00lf this is from stepmod-utils, on this file:

https://github.com/metanorma/iso-10303-stepmod-cvs/blob/7e7e7e3a83401cc5b4b676e4083cc9f13b04a9c3/resources/aic_machining_feature/descriptions.xml#L6195-L6200

[2021-06-17 14:03] w00lf commented on #90
@ronaldtse implemented in https://github.com/metanorma/stepmod-utils/pull/94

[2021-06-19 07:15] w00lf commented on #93
Thanks, the issue was with Stepmod::Utils::StepmodDefinitionConverter, it uses a separate converter for `express_ref`, fixed in https://github.com/metanorma/stepmod-utils/pull/95

[2021-06-20 03:26] ronaldtse opened #96 "stepmod-terms-extract should filter out `status="withdrawn"` entries"
From @TRThurman :

There are also `<module>` elements that are marked with `status="withdrawn"`.

In the following code we should omit the entries if they have this status.

Code to change:
https://github.com/metanorma/stepmod-utils/blob/ef9bc1677c195cb5b56ea780122afeee6fc11025/lib/stepmod/utils/terms_extractor.rb#L76-L102

[2021-06-20 07:45] #93 closed

[2021-06-24 15:27] w00lf commented on #10
@ronaldtse implemented in https://github.com/metanorma/stepmod-utils/pull/98

[2021-06-24 15:55] w00lf commented on #96
@ronaldtse implemented in https://github.com/metanorma/stepmod-utils/pull/99

[2021-06-27 12:25] ronaldtse commented on #10
Thanks!

[2021-06-27 12:25] #10 closed

[2021-06-28 07:25] #96 closed

[2021-08-04 12:41] w00lf commented on #86
@ronaldtse can we close this one?

[2021-08-04 12:43] w00lf commented on #90
@ronaldtse can we close this one?

[2021-08-06 05:50] #86 closed

[2021-09-13 05:37] ronaldtse commented on #90
Not perfect but not critical for now.

[2021-09-13 05:37] #90 closed

[2021-10-26 04:00] ronaldtse opened #101 "Extract terms: Update clause 4.2, 4.6 with resource names"
From @TRThurman https://github.com/metanorma/iso-10303-2/issues/53

![image](https://user-images.githubusercontent.com/11865/138806603-77d28ba2-f938-4a0d-8abe-1620e9619973.png)

[2021-10-26 04:00] #101 closed, assigned to ronaldtse

[2021-10-26 12:01] ronaldtse opened #102 "Extract terms: unable to incorporate definitions with lists"
Example:

Input: `resources/set_theory_schema/descriptions.xml`:

[code]

Output

[code]

[2021-10-26 18:36] ronaldtse opened #103 "Perform image replacement in stepmod-extract-terms"
As per https://github.com/metanorma/stepmod-utils/issues/102

[2021-10-26 18:37] #103 closed, assigned to ronaldtse

[2021-10-26 18:38] #102 closed, assigned to ronaldtse

[2021-10-26 18:45] ronaldtse opened #104 "Fix broken parsing of alternate terms (`<synonym>` and the first `<def><p>` element)"
This was broken by d137e058938565ef5a5b470504833c888303f04d in the migration to Glossarist.

stepmod-utils **does not** currently take advantage of the Glossarist Concept model. It is only doing minor XML parsing and then recreating the ADoc structure, without using the Concept class to do so.

An alternative term comes from 2 ways in STEPmod:
1. in the `<synonym>` element
2. as the first `<p>` el

[2021-10-26 18:46] ronaldtse opened #105 "Extract terms: Fix multiple spacing issues in designations and content"

[2021-10-26 18:47] #104 closed, assigned to ronaldtse

[2021-10-26 18:47] #105 closed, assigned to ronaldtse

[2021-10-26 18:51] ronaldtse opened #106 "Fix issue with `*` following with a `.` (`*hello* .` should be `*hello*.`)"
[code]

[2021-10-27 04:59] ronaldtse opened #107 "Only include full text if there is a list that "belongs to" the first paragraph"
These are the cases we need to handle, where a pattern shows up at the end of the first paragraph.

Otherwise there is just too much text included that is unhelpful for understanding.

Patterns are represented below.

### "include:"

[code]

### "of:"

[code]

### "between:" or "between:\s+"

[code]

### "between\n"

[code]

### "follows;"

[code]

[2021-10-27 05:03] ronaldtse opened #108 "Generate sorted listing of generated files in `.adoc`"
We now generate the following files:

* `03x-stepmod-[part].adoc`
* `04x-stepmod-entities-resources-[part].adoc`
* `05x-stepmod-entities-modules-[part].adoc`

But we use a manual process for including these files.

We should generate a corresponding listing of these files for direct inclusion, e.g. generate `03x-stepmod.adoc` to include all `03x-*` files:

[code]

Similarly for 04x and 05x.

[2021-10-27 05:04] #107 closed, assigned to ronaldtse

[2021-10-27 05:04] #108 closed, assigned to ronaldtse

[2021-10-31 00:17] ronaldtse opened #109 "A line cannot immediately start with an empty space"
<img width="863" alt="Screenshot 2021-10-31 at 7 50 20 AM" src="https://user-images.githubusercontent.com/11865/139561432-64769f49-e500-4572-bb72-d8185b2e8c5a.png">
<img width="527" alt="Screenshot 2021-10-31 at 7 50 10 AM" src="https://user-images.githubusercontent.com/11865/139561434-f40ac48f-bcc9-48d4-8493-3b9b4b9bd0d8.png">

[code]

This is due to the empty whitespace in front of "that indicat

[2021-10-31 00:18] #109 closed

[2021-10-31 00:18] ronaldtse commented on #109
This is only temporarily fixed; we should fix it in stepmod-utils and possibly in reverse_adoc.

[2021-11-01 08:44] ronaldtse opened #110 "Handle embedded figures in `<ext_description>`"
Original XML:
[code]

Extracted adoc:

[code]

Notice that the "figure 2" information is completely lost.
[code]

The correct extraction should be:
[code]

[2021-11-01 08:46] ronaldtse commented on #110
Another example.

XML:

[code]

Extracted:

[code]

[2021-11-02 05:31] ronaldtse opened #111 "Use Glossarist gem to extract all EXPRESS terms and definitions"
For @hassanakbar

[2021-11-03 05:14] ronaldtse commented on #106
This is also related to https://github.com/metanorma/iso-10303-2/issues/72.

This is actually a reverse_adoc problem because it applies to AsciiDoc in general.

[2021-11-04 14:29] HassanAkbar commented on #106
@ronaldtse  think this issue has been caused due to the fix in [this PR](https://github.com/metanorma/stepmod-utils/issues/105).
Can I get some context or an example of the issue that was fixed [here](https://github.com/metanorma/stepmod-utils/issues/105)?

[2021-11-05 08:02] ronaldtse commented on #106
@HassanAkbar it's actually not that simple:

1. https://github.com/metanorma/stepmod-utils/blob/ccfa5e9dd0bc0070098fc09f2676735476881ab2/lib/stepmod/utils/converters/express_ref.rb#L8
Notice that there is a preceding space even before the PR. Technically, there should not be an additional space front or back. A missing space front or back will lead to disastrous results in AsciiDoc in general (i.e

[2021-11-10 08:03] #106 closed

[2021-11-10 08:58] ronaldtse opened #113 "Convert to use Glossarist gem and models"
We should use the Glossarist gem and classes instead of plain text.

https://github.com/metanorma/stepmod-utils/blob/ccfa5e9dd0bc0070098fc09f2676735476881ab2/lib/stepmod/utils/converters/term.rb#L8-L44

[2021-11-11 02:24] ronaldtse opened #115 "Rename domains: `<STEP xxx>` -> `<ISO 10303 xxx>`"
As per the ISO 10303-2 meeting on 2021-11-10, we need to rename the term domains in the generation script:

* `<STEP resource>` -> `<ISO 10303 resource>`
* `<STEP module>` -> `<ISO 10303 application module>`

cc: @brandonsapp @TRThurman @KAHunten

[2021-11-11 03:25] #115 closed

[2021-11-12 07:45] HassanAkbar commented on #113
@ronaldtse From what I understand `Glossarist` is a modeler gem to model data from hashes to class objects.

How do you suggest we should use `Glossarist` here?

[2021-11-12 07:57] ronaldtse commented on #113
Correct. The way to use the Glossarist gem is:
1. Fit content into the Glossarist models (eg. `Concept.new`)
2. Write converters to serialize Glossarist models to Metanorma AsciiDoc. (`Concept.new.to_adoc`)

[2021-11-16 09:42] HassanAkbar commented on #113
@ronaldtse

Can you elaborate on the `plain text`? I didn't find any plain strings in the mentioned file.

What I understand is:
- Move the conversion logic to `Glossarist::Term`
- Inherit the `Term` class from `Glossarist::Term`

But if we go with this approach then we have to use the `reverse_adoc` gem in `Glossarist` gem. Am I getting this right?

[2021-11-16 10:44] ronaldtse commented on #113
@HassanAkbar for example,

[code]

Is a string that uses string formatting. There are numerous issues with a non-model based approach. For example, this is a possible outcome:
[code]

Use a model-based approach (i.e. treating `term_def` as an object) allows us to easily prevent that from happening.

This is a good question. Technically, we want to do this:

1. STEPmod custom XML format => Glossari

[2021-11-16 13:08] HassanAkbar commented on #113
@ronaldtse

1. Agreed.
2. I think that for now:
    - The code should stay in this gem.
    - We should just create a `Glossarist::Term` model
    - Move the validations and properties to the `Glossarist::Term` model.
    - Convert it to `Metanorma AsciiDoc` here in this gem.

Let me know if you think otherwise.

[2021-11-17 06:05] ronaldtse commented on #113
@HassanAkbar agree. For "Convert it to Metanorma AsciiDoc here in this gem", you could also "inherit" from the `Glossarist::Term` model to do so.

[2021-11-17 08:38] ronaldtse commented on #14
This will be easy once #113 is completed.

[2022-01-26 12:43] #113 closed

[2022-02-07 16:19] ronaldtse opened #120 "The CVS repo has now been officially replaced by Git"
With the Git copy located here:
https://github.com/metanorma/iso-10303-stepmod-wg12

We need to update stepmod-utils to use the new repo.

[2022-02-08 14:52] HassanAkbar commented on #120
@ronaldtse Do we only need to update the documentation or is the CVS repo is being used by a workflow that we need to update?

[2022-02-08 15:11] TRThurman commented on #120
Could we defer these actions until after WG12 decides what to do about the CVS-> Git conversion issue raised by Robert Swindells?

Thomas Thurman
Principal Electrical Engineer, Rockwell Collins (Retired)

Confidentiality Notice: This e-mail (including attachments) is covered by the Electronic Communications Privacy Act, 18 U.S.C. 2510-2521, is confidential and may be legally privileged.  If you ar

[2022-02-08 15:21] ronaldtse commented on #120
@TRThurman this tool here is only relevant for ISO 10303-2, so it is probably safe to go ahead since we won't generate the CVS-based ISO 10303-2 anymore. Thoughts?

[2022-02-21 18:02] ronaldtse commented on #120
All done, closing.

[2022-02-21 18:02] #120 closed

[2022-02-21 18:02] ronaldtse commented on #120
Release as v0.3.16

[2022-05-12 03:58] ronaldtse opened #122 "Supply `domain:[...]` for Clause 4 and 5 entries"
i.e.
[code]

[2022-06-30 10:50] ronaldtse opened #123 "Update implementation to meet agreed requirements in 2022-06-23 meeting"
This is new functionality. We will need to re-build the terms and definitions using a combination of XML and EXPRESS code.

1. We only keep ENTITY definitions in ISO 10303-2. Remove the TYPE, FUNCTION, RULE, constant definitions/descriptions from the document. This information is only provided in the EXPRESS code.

2. As every Clause 4/5 term entry has a source, remove the NOTE, and add the “incom

[2022-07-01 11:44] TRThurman commented on #123
It is easier to process the update if the (arm|mim|<schema_name>).xml file is used instead of the raw EXPRESS source.
The xml file has an attribute that specifies the supertypes of the ENTITY which makes it trivial to process.
Note that the xml file is the control file for publication so there can be no "extra content" included using is, as the current part 2
document has some "extra content" beca

[2022-07-01 12:06] TRThurman commented on #123
There are a very few ENTITIES where the entity does not represent what the name says.
Example: transformation_operator.
Easiest way to handle this is to add an attribute to the entity element in the xml file.
Can ignore for now, as we will only populate this as needed.

Alternatively, we could handle this with a human process override but that seems error prone.
We can discuss at next technical me

[2022-07-02 14:33] TRThurman commented on #123
Let's not take any action yet on reworking the algorithm as there is an additional factor to consider:
ISO 10303 has domain specific term for "entity data type" based on the overall 10303 model architecture.

An entity data type in an ARM is an Application Object.
An entity data type in a MIM and in resource parts is an entity data type.

An entity data type in a domain model is a Domain Object.
.

[2022-08-08 17:14] ronaldtse commented on #123
@TRThurman Actually it is much easier to use the EXPRESS source because we have Expressir.

As long as we have the code that generates proper output, it should be trivial to change particular strings i.e. if we want to reword.

[2022-08-08 18:33] TRThurman commented on #123
Ok, however you want to proceed is fine with me.

[2022-08-08 18:59] TRThurman commented on #123
@RonTse I will be on vacation that day and would prefer to wait for a demo until the following Thursday (2022-08-18).

[2022-08-10 08:43] ronaldtse commented on #123
Thanks @TRThurman

[2022-08-10 14:03] ronaldtse opened #125 "`[.source]` for Clause 3 terms should all be commented because they now belong to this document"
All terms in Clause 3 now belong to this document, i.e., the authoritative source is this document itself, so we should no longer "source" the definitions from other documents anymore.

This task is to comment out the `[.source]` entries in the `03x-*.adoc` files so that we retain the source information, but do not encode them.

[code]

becomes this:

[code]

_Originally posted by @TRThurman in ht

[2022-09-07 06:35] #123 closed

[2022-09-07 06:53] ronaldtse opened #127 "(URGENT) Broken remark tags for `__note` and `__example`"
The implementation of #124 is not functional right now:

This is the current output:
[code]

Notice that the name of the `__note` is missing.

Reproduce this with:
[code]

You will see the problem in: `../iso-10303-stepmod-wg12/data/resources/action_schema/action_schema_annotated.exp`.

_Originally posted by @ronaldtse in https://github.com/metanorma/stepmod-utils/issues/124#issuecomment-123897911

[2022-09-07 07:04] ronaldtse commented on #127
The issue was these lines:

[code]

`schema_and_entity` is actually a symbol.

This also means that the specs aren't working properly? Specs pass but the generated content differs.

[2022-09-07 07:04] ronaldtse opened #129 "Specs not actually testing the remark tags output (was #127)"
Specs not actually testing the remark tags output (was #127)

The issue was these lines:

[code]

`schema_and_entity` is actually a symbol.

This also means that the specs aren't working properly? Specs pass but the generated content differs.

_Originally posted by @ronaldtse in https://github.com/metanorma/stepmod-utils/issues/127#issuecomment-1238991170_

[2022-09-07 07:05] #127 closed

[2022-09-07 07:41] ronaldtse opened #130 "Annotations not transforming `<module_ref>` content"
After the annotation flow, the `<module_ref>` XML content is not transformed.

I'm not sure what the correct output is.

[2022-09-07 08:00] ronaldtse opened #131 "Terms extraction: from the old definition, only take the first paragraph"
This was the behavior we had before.

[2022-09-07 08:02] ronaldtse commented on #125
I've disabled the generation of the `03x-*.adoc` documents in 9ee70e349dc961d3bd06dac62740c71ad12f8e1f

[2022-09-07 08:02] #125 closed

[2022-09-07 08:03] ronaldtse commented on #122
This is done in #124 .

[2022-09-08 05:59] ronaldtse commented on #131
This is done in 7494ddd5720e55051fcb65cad63d4cc97a3683f4.

[2022-09-08 05:59] #131 closed

[2022-09-08 06:00] ronaldtse commented on #130
This is still an issue:
[code]

[2022-09-08 06:01] ronaldtse commented on #130
For @TRThurman

[2022-09-08 06:01] ronaldtse commented on #110
This has been completed a while ago.

[2022-09-08 10:07] #129 closed

[2022-09-12 02:49] ronaldtse opened #135 "Validate `<<express:{entity},{render}>>` links that `entity` is an EXPRESS ENTITY before converting to concept mention"
The issue is described in https://github.com/metanorma/iso-10303-2/pull/102#issuecomment-1243148727 .

The `express_reference_to_mention` method needs to check whether the `{entity}` is really an EXPRESS ENTITY. If not, this reference does not exist in the ISO 10303-2 collection (because only ENTITY entries are included).

This requires stepmod-utils to parse the entire STEPmod repository initiall

[2022-09-12 02:50] ronaldtse opened #136 "Instead of parsing individual `*.exp` files, use Expressir to parse the entire STEPmod repository just once"
This is necessary for fixing:
* https://github.com/metanorma/iso-10303-2/issues/100#issuecomment-1242941969
* https://github.com/metanorma/stepmod-utils/issues/135

[2022-09-12 02:51] ronaldtse commented on #136
From original issue:

## No XML description

`action_property`: no XML description in data/resources/process_property_schema
`analysis_item_within_representation`: no XML description in data/resources/structural_response_representation_schema
`curve_element_section_definition`: no XML description in data/resources/structural_response_representation_schema
`edge_blended_solid`: no XML description i

[2022-09-12 02:51] ronaldtse commented on #135
From original issue:

## Not ENTITY

`Pre_defined_activity_relationship_types`: NOT AN ENTITY
`Pre_defined_address_assignment_types`: NOT AN ENTITY
`Pre_defined_approval_status_types`: NOT AN ENTITY
`Pre_defined_approval_types`: NOT AN ENTITY
`Pre_defined_date_or_date_time_assignment_types`: NOT AN ENTITY
`Pre_defined_organization_or_person_in_organization_assignment_types`: NOT AN ENTITY
`Pre_def

[2022-09-12 04:53] ronaldtse opened #137 "Update term definitions for ENTITYs"
For mim entities, option 1, 2 or 3?

Option 1:
application object that is a type of …

Option 2:
application module that is a type of …

Option 3:
entity data type that is a type of …

From @TRThurman :

Option a) entity data type that represents a/an xxx entity
(this was from our previous meeting slides)

vs

Option b) entity data type that represents the xxx entity
(this was from a later slide a

[2022-09-12 04:54] #137 closed

[2022-09-12 17:59] TRThurman commented on #130
Proposed resolutions
[code]

[2022-09-15 09:11] ronaldtse opened #138 "Annotated EXPRESS: separate Figures and Tables as independent remark objects"
Figures:
[code]

Tables:
[code]

[2022-09-15 09:12] ronaldtse opened #139 "Annotation: parallel execution will cause `chdir` to fail and halt annotation process"

[2022-09-15 09:13] ronaldtse opened #140 "Parallel execution causing thread errors being hidden"
When run in parallel there is no process that catches the backtrace and displays errors.

[2022-09-15 09:15] ronaldtse opened #141 "Generated definitions in ISO 10303-2 the "entity" should not refer back to itself"
"that represents {xxx} entity" right now {xxx} points back to itself.

Instead, convert that to an English expression like this:

<img width="617" alt="Screen Shot 2022-09-15 at 5 15 15 PM" src="https://user-images.githubusercontent.com/11865/190365530-ce39c8c5-5a88-4216-be86-662afacec7c4.png">

[2022-09-15 09:25] #130 closed

[2022-09-15 09:25] #139 closed

[2022-09-15 09:25] #140 closed

[2022-09-15 09:27] ronaldtse commented on #141
Fixed in #142.

[2022-09-15 09:27] #141 closed

[2022-09-15 09:29] ronaldtse commented on #138
#138 fixes this for terms extraction, but not for the annotation process.

For the generation Annotated EXPRESS, we have an issue because the schemas (e.g. `action_schema`) contain inline notes, examples, figures and tables.

It is unclear how we should extract those, because those are context dependent (e.g. within a list item, there is a NOTE). If we pull out the NOTE, it no longer makes sense.

[2022-09-15 09:29] ronaldtse commented on #138
In fact, let me close this and file a new issue for that.

[2022-09-15 09:29] #138 closed

[2022-09-15 09:30] ronaldtse opened #143 "Annotated EXPRESS: inline NOTEs/examples/figures/tables from resource.xml"
For the generation Annotated EXPRESS, we have an issue (beyond the fixed #138) because the schemas (e.g. `action_schema`) contain inline notes, examples, figures and tables.

It is unclear how we should extract those, because those are context dependent (e.g. within a list item, there is a NOTE). If we pull out the NOTE, it no longer makes sense.

_Originally posted by @ronaldtse in https://github

[2022-10-21 00:57] TRThurman opened #144 "Annotated EXPRESS: separate equations as independent remark objects"
There are equations that need to be supported with e.g., mathml, but then require separate remark tag so they may be properly transformed.

[2022-11-18 04:44] ronaldtse opened #146 "Annotated EXPRESS: Convert all schema history information into independent per-schema YAML files"
Inside `resource.xml` files there are EXPRESS schema changes (history of changes to the EXPRESS schemas included in that document).

The goal is to migrate these schema change information to the directory location of the schema themselves.

The EXPRESS schemas are located according to this file path pattern:
* `resources/{schema-name}/{schema-name}.exp`
* `modules/{schema-name}/{schema-name}.exp`

[2022-11-18 13:53] TRThurman commented on #146
In modules,the EXPRESS file names are:arm.exp,mim.exp,arm_lf.exp,mim_lf.exp.TomSent from my iPhoneOn Nov 17, 2022, at 10:44 PM, Ronald Tse ***@***.***> wrote:﻿
Inside resource.xml files there are EXPRESS schema changes (history of changes to the EXPRESS schemas included in that document).
The goal is to migrate these schema change information to the directory location of the schema themselves.
The

[2022-11-24 13:35] HassanAkbar commented on #146
@ronaldtse for `modules` there are some files that includes changes like `mim.changes`, `arm.changes` and `mapping.changes`

[code]

### Questions:

- How should we handle these in the generated `yaml` file?

[2022-11-26 05:29] ronaldtse commented on #146
## Module

### With only change for MIM or ARM

For modules, every `module.xml` represents 2 schemas (arm.exp and mim.exp). These schema is named in the `module.name` attribute, appended with the `_arm` or `_mim`.

For example:
* For `data/modules/annotated_3d_model_equivalence_criteria/module.xml`
* The schemas are at:
    * `data/modules/annotated_3d_model_equivalence_criteria/arm.exp` (schema n

[2022-11-26 05:40] TRThurman commented on #146
In some cases, there are also arm, mim longforms.
arm_lf.exp, mim_lf.exp

[2022-11-26 05:58] ronaldtse commented on #146
@TRThurman I was initially skeptical but of course you are correct! Will add the examples here in an edit.

[2022-11-29 09:40] HassanAkbar commented on #146
@ronaldtse

1. There are some missing schemas e.g `data/resource_docs/material_and_other_engineering_properties/resource.xml` contains the following xml
[code]
    but there is no folder named `resources/material_property_definition`.
2. There are some definitions that have html in them e.g ``
[code]

### Questions:

- What should I do in case `#1`? Should I create a new folder or just skip the sc

[2022-11-29 14:59] ronaldtse commented on #146
Wow, you are right. The `material_property_definition_schema` is indeed missing from the WG 12 STEPmod repository.

@TRThurman any idea?

These should be converted into AsciiDoc format using reverse_adoc, because these are to be displayed in Metanorma.

[2022-11-29 15:07] TRThurman commented on #146
Which branch are you examining?
That schema is present in main material_property_definition_schema <https://sd.iso.org/bitbucket-pilot/projects/ISOTC184SC4/repos/wg12-stepmod/browse/data/resources/material_property_definition_schema?at=refs%2Fheads%2Fmain>
and develop material_property_definition_schema <https://sd.iso.org/bitbucket-pilot/projects/ISOTC184SC4/repos/wg12-stepmod/browse/data/resourc

[2022-11-29 17:54] ronaldtse commented on #146
Sorry apparently the schemas are around:

The `material_property_definition_schema` is available here:
* https://github.com/metanorma/iso-10303-stepmod-wg12/blob/main/data/resources/material_property_definition_schema/material_property_definition_schema.exp

@HassanAkbar so there should not be any missing schema.

[2022-11-30 06:54] HassanAkbar commented on #146
@ronaldtse in `data/resource_docs/material_and_other_engineering_properties/resource.xml`, `material_property_definition ` and `material_property_definition_schema ` are two different schema names.

So my question is, Are these 2 schema names same?

[code]

[2022-11-30 06:58] ronaldtse commented on #146
@HassanAkbar you have to look for the `.exp` files that define `SCHEMA material_property_definition_schema;`.

This schema is defined in:
* `data/resources/material_property_definition_schema/material_property_definition_schema.exp`

I believe they are the same. Possibly the previous XMLs were not edited systematically (i.e. manual edits).

[2022-11-30 13:42] TRThurman commented on #146
It is quite common for the same schema to be changed more than once.Sent from my iPhoneOn Nov 30, 2022, at 12:58 AM, Ronald Tse ***@***.***> wrote:﻿
@HassanAkbar you have to look for the .exp files that define SCHEMA material_property_definition_schema;.
This schema is defined in:

data/resources/material_property_definition_schema/material_property_definition_schema.exp

So my question is, Are th